@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-image: url('background.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*background: #1755ffb6;*/
}

section {
    margin: 0 520px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}